{% extends 'index_messeges.html' %}

{% block title %}Chat: {{ chat.name }}{% endblock %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<h2>Chat: {{ chat.name }}</h2>

<ul class="list-unstyled">
    {% for chatmessage in chatmessages %}
        <li class="mb-2 {% if chatmessage.author == request.user %}text-right{% else %}text-left{% endif %}">
            {% if chatmessage.author == request.user %}
                <strong>You</strong>: {{ chatmessage.content }}

                {% if perms.messenger.can_edit_own_message %}
                    <form method="post" action="{% url 'edit_message' chatmessage.id %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="chatmessage_id" value="{{ chatmessage.id }}">
                        <button type="submit" class="btn btn-sm btn-primary">Edit</button>
                    </form>
                {% endif %}
                {% if perms.messenger.can_delete_own_message %}
                    <form method="post" action="{% url 'delete_message' chatmessage.id %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="message_id" value="{{ chatmessage.id }}">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                {% endif %}
            {% else %}
                <strong>{{ chatmessage.author.username }}</strong>: {{ chatmessage.content }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
<form method="post" action="{% url 'send_message' chat.id %}" class="mt-4">
    {% csrf_token %}
    <div class="form-group">
        <textarea name="content" class="form-control" rows="3" placeholder="Your message..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}

